// General App Variables
$primaryColor: #4d0918;
$lightPrimary: #663741;
$secondaryColor: #aab1b4;
$lightSecondary: #eeeeee;
$promoColor: #ffae00;
$appBackgroundColor: whitesmoke;
$textColor: #000;

// Footer
$footerTextColor: #fff;

// Shadows
$boxShadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
$clickShadow: inset 0 0 5px #aaa;

// Font sizes
$xs: 8px;
$s: 10px;
$m: 12px;
$ml: 14px;
$l: 16px;
$xl: 20px;
$xxl: 23px;
$priceSize: 26px;