@import '../../styles/variables';

.Bottle_Details {
    display: flex;
    justify-content: space-between;

    .Bottle_Header {
        display: flex;
        font-size: $xl;
        
        .Bottle_Brand {
            font-weight: bold;
        }
    
        .Bottle_Title {
            color: $secondaryColor;
            font-size: small;
        }
    
        .Bottle_Price {
            margin-left: 20px;
            color: $lightPrimary;
            font-size: $priceSize;
            font-weight: bold;
            font-style: italic;
            
            &.promo {
                color: $promoColor;
            }
    
            span {
                margin-left: 5px;
                font-weight: normal;
                text-decoration: line-through;
                color: $secondaryColor;
                font-size: $ml;
            }
        }
    }
    
    .Bottle_Description {
    
    }
    
    .Bottle_Image_Container {
        max-width: 50%;

        img {
            max-height: 400px;
            max-width: 100%;
            object-fit: contain;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;

        .Bottle_Header {
            justify-content: space-between;
        }

        .Bottle_Image_Container {
            max-width: 100%;

            img {
                max-height: none;
                margin-bottom: 10px;
            }
        }
    }
}